{% extends 'base.html.twig' %}
{% block title %}Derniers Ajouts{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Dernier jeux ajouté</h1>
        {% include 'games/card/_card.html.twig' %}
    </div>
{% endblock %}
