{% extends 'base.html.twig' %}
{% block title %}Les plus populaires{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Jeux les plus populaire</h1>
        {% include 'games/card/_card.html.twig' %}
    </div>
{% endblock %}
